<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Veterinary_raport List</h4>

    <ul class="list-group">
      @for (Veterinary_raport of Veterinary_raport; track Veterinary_raport.veterinary_raport_id; let i = $index)
       {
      <li
        class="list-group-item"
        [class.active]="i == currentIndex"
        (click)="setActiveVeterinary_raport(Veterinary_raport, i)"
      >
        {{ Veterinary_raport.detail }}
      </li>
      }
    </ul>

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllVeterinary_raport()">
      Remove All
    </button>
  </div>
  {{log(currentVeterinary_raport)}}
  <div class="col-md-6">
    <app-veterinary-raport-details
      [viewMode]="true"
      [currentVeterinary_raport]="currentVeterinary_raport"
    ></app-veterinary-raport-details>
  </div>
</div>
