@if (viewMode){
  @if (currentTutorial.user_id){
  <h4>User</h4>
  <div>
    <label><strong>Name:</strong></label> {{ currentTutorial.username }}
  </div>
  <div>
    <label><strong>First Name:</strong></label>
    {{ currentTutorial.first_name }}
  </div>
  <!-- <div>
    <label><strong>Status:</strong></label>
    {{ currentTutorial.published ? "Published" : "Pending" }}
  </div> -->

  <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.user_id }}">
    Edit
  </a>
  } @else {<p>Please click on a User...</p>}
} @else {
  @if (currentTutorial.user_id) {
  <div class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="username">Name</label>
        <input
          type="text"
          class="form-control"
          id="username"
          [(ngModel)]="currentTutorial.username"
          name="username"
        />
      </div>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          [(ngModel)]="currentTutorial.first_name"
          name="first_name"
        />
      </div>

      <!-- <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Published" : "Pending" }}
      </div> -->
    </form>

    <!-- @if (currentTutorial.published) {
    <button class="badge badge-primary mr-2"
      (click)="updatePublished(false)" >
      UnPublish
    </button>
    } @else {
    <button class="badge badge-primary mr-2" (click)="updatePublished(true)">
      Publish
    </button>
    } -->

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateTutorial()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  } @else {<p>Cannot access this Tutorial...</p>}
}
