@if (viewMode){
  @if (currentRace.race_id){
  <h4>Race</h4>
  <div>
    <label><strong>Label:</strong></label> {{ currentRace.label }}
  </div>
  <div>
    <label><strong>label:</strong></label>
    {{ currentRace.label }}
  </div>
  <!-- <div>
    <label><strong>Status:</strong></label>
    {{ currentTutorial.published ? "Published" : "Pending" }}
  </div> -->

  {{log(currentRace.race_id)}}

  <a class="badge badge-warning" [routerLink]="['/race', currentRace.race_id]">
    Edit
  </a>
  } @else {<p>Please click on a Role...</p>}
} @else {
  @if (currentRace.race_id) {
  <div class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="label">Label</label>
        <input
          type="text"
          class="form-control"
          id="label"
          [(ngModel)]="currentRace.label"
          name="label"
        />
      </div>

      <!-- <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentTutorial.published ? "Published" : "Pending" }}
      </div> -->
    </form>

    <!-- @if (currentTutorial.published) {
    <button class="badge badge-primary mr-2"
      (click)="updatePublished(false)" >
      UnPublish
    </button>
    } @else {
    <button class="badge badge-primary mr-2" (click)="updatePublished(true)">
      Publish
    </button>
    } -->

    <button class="badge badge-danger mr-2" (click)="deleteRace()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateRace()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  } @else {<p>Cannot access this Race...</p>}
}

